@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
 --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Use the variables you defined in RootLayout */
--font-sans: var(--font-montserrat);}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
 /* 2. Apply the Montserrat variable here */
  font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  
  /* 3. Optional: Add a slight letter-spacing for that "News" feel */
  letter-spacing: -0.01em;
}

